<%- include('partials/header') %>
<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, consequatur? Tempora quos repudiandae, expedita quae labore odio nemo impedit, voluptatibus, voluptates eveniet doloribus earum suscipit?</p>
<%- include('partials/footer') %>